<section class="footer bg-maroon pt-[48px] pb-[32px]">
  <div class="container">
    <div
      class="footer-section1 flex justify-end md:justify-between items-center mb-[24px]"
    >
      <ul class="hidden md:flex text-white gap-[48px]">
        <li><a href="index.html">首頁</a></li>
        <li><a href="glasses.html">系列鏡框</a></li>
        <li><a href="shops.html">門市據點</a></li>
        <li><a href="blog.html">部落格</a></li>
        <li><a href="QA.html">常見問題</a></li>
      </ul>
      <ul class="flex md:flex gap-2 md:gap-[32px]">
        <li>
          <a href="#">
            <img
              src="../assets/img/desktop/ic-social-fb.png"
              alt="fb"
              class="w-[24px] h-[24px] md:w-[48px] md:h-[48px]"
          /></a>
        </li>
        <li>
          <a href="#">
            <img
              src="../assets/img/desktop/ic_social_ig.png"
              alt="ig"
              class="w-[24px] h-[24px] md:w-[48px] md:h-[48px]"
          /></a>
        </li>
        <li>
          <a href="#">
            <img
              src="../assets/img/desktop/ic_social_line.png"
              alt="line"
              class="w-[24px] h-[24px] md:w-[48px] md:h-[48px]"
          /></a>
        </li>
      </ul>
    </div>
    <ul class="footer-section2 mb-[24px] md:mb-[32px]">
      <li class="items-center">
        <span class="material-symbols-outlined text-white text-[24px]">
          call
        </span>
        <a
          href="tel:+0800000000"
          class="ml-[12px] md:text-[36px] text-white"
          >0800-000-000</a
        >
      </li>
      <li class="items-center">
        <span class="material-symbols-outlined text-white md:text-[36px]">
          mail
        </span>
        <a
          href="mailto:glasses@business.com"
          class="ml-[12px] md:text-[36px] text-white"
          >glasses@business.com</a
        >
      </li>
    </ul>
    <div
      class="footer-section3 py-[24px] md:py-[32px] border-t text-white md:flex md:justify-between"
    >
      <p>Copyright © 2020 Glasses.All rights reserved.</p>
      <ul class="flex flex-col md:flex-row md:gap-[48px]">
        <li class="pt-[24px] md:pt-[0px]"><a href="#">隱私權政策</a></li>
        <li class="pt-[24px] md:pt-[0px]"><a href="#">服務條款</a></li>
      </ul>
    </div>
  </div>
</section>