 <div class="navbar bg-maroon">
        <div
          class="container md:flex md:justify-between lg:justify-between items-center"
        >
          <a href="index.html"><img class="logo py-3" src="../assets/img/desktop/logo.png" alt="logo" /></a>
          <ul
            class="flex sm:gap-x-0 flex-wrap md:flex md:gap-x-16 md:flex-nowrap lg:gap-x-16 lg:flex lg:flex-nowrap"
          >
            <li class="w-[50%] border border-white md:w-auto md:border-0">
              <a href="glasses.html" class="py-6 block text-white text-center"
                >系列鏡框</a
              >
            </li>
            <li class="w-[50%] border border-white md:w-auto md:border-0">
              <a href="shops.html" class="py-6 block text-white text-center"
                >門市據點</a
              >
            </li>
            <li class="w-[50%] border border-white md:w-auto md:border-0">
              <a href="blog.html" class="py-6 block text-white text-center"
                >部落格</a
              >
            </li>
            <li class="w-[50%] border border-white md:w-auto md:border-0">
              <a href="QA.html" class="py-6 block text-white text-center"
                >常見問題</a
              >
            </li>
          </ul>
        </div>
      </div>